<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712622845147-5670u31nentir7kr43maq9s0kj27vl2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712622845147-5670u31nentir7kr43maq9s0kj27vl2f</string>
	<key>API_KEY</key>
	<string>AIzaSyDRFm8Jsj2SCpk5aYy800YbcDJM5xR0i_4</string>
	<key>GCM_SENDER_ID</key>
	<string>712622845147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tepApp</string>
	<key>PROJECT_ID</key>
	<string>elektron-poliklinika</string>
	<key>STORAGE_BUCKET</key>
	<string>elektron-poliklinika.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712622845147:ios:6e724682ce33fc95a770fe</string>
</dict>
</plist>